html, body {
    min-height: 100%;
    min-width: 100%;
}

#wrapper.wrapper-loading:before {
    animation: spinner-border .75s linear infinite;
    border: .25em solid currentColor;
    border-radius: 50%;
    border-right-color: currentcolor;
    border-right-color: transparent;
    content: "";
    display: inline-block;
    height: 6rem;
    left: calc(50% - 3rem);
    position: fixed;
    top: calc(50% - 3rem);
    vertical-align: text-bottom;
    width: 6rem;
}

#wrapper {
    background-attachment: fixed;
    background-image: url('../img/bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

#header {

}

#body {
    padding-top: 40px;
}

#footer {

}

/* TAG LIST */
#tags-list {
    margin: auto;
    width: 50%;
}

#tags-list ul {
    list-style: none;
    margin-top: 30px;
    text-align: center;
}

#tags-list ul li {
    background: #cccccc;
    border: 1px solid #666666;
    cursor: pointer;
    display: inline-block;
    margin: 0 20px 10px 0;
    padding: 5px 20px;
    position: relative;

    border-radius: 20px;
    -border-radius: 20px;
    -border-radius: 20px;
}

#tags-list ul li.tag-active {
    background: #888888;
}

#tags-list ul li.tag-active:after {
    color: #000;
    content: "\f0f5";
    font-family: 'FontAwesome';
    position: absolute;
    right: 0;
    top: -10px;
}

#tags-list ul li:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 5px, rgba(0, 0, 0, 0.22) 0px 5px 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 5px, rgba(0, 0, 0, 0.22) 0px 5px 5px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 5px, rgba(0, 0, 0, 0.22) 0px 5px 5px;
}

#tags-list ul li:last-child {
    margin-right: 0;
}

/* CARDS */
#items {
    margin: 0;
    padding: 50px 25px;
}

#items .item-wrapper {
    padding: 0 25px 40px;
    transition: all 1s ease;
}

#items .item-wrapper.hide-item {
    flex: 0;
    padding: 0 !important;
    transition: all 1s ease;
}

#items .item-wrapper.hide-item * {
    display: none !important;
}

/* ANIMATION */
/*@keyframes fadeOut {
    0%   {opacity: 1; position: relative;}
    99%   {opacity: 0; position: relative;}
    100%   {opacity: 0; position: absolute;}
}

@-moz-keyframes fadeOut {
    0%   {opacity: 1; position: relative;}
    99%   {opacity: 0; position: relative;}
    100%   {opacity: 0; position: absolute;}
}

@-webkit-keyframes fadeOut {
    0%   {opacity: 1; position: relative;}
    99%   {opacity: 0; position: relative;}
    100%   {opacity: 0; position: absolute;}
}

@-o-keyframes fadeOut {
    0%   {opacity: 1; position: relative;}
    99%   {opacity: 0; position: relative;}
    100%   {opacity: 0; position: absolute;}
}*/
/* /ANIMATION */

#items .item-wrapper .item {
    background: #ffffff;
    padding: 15px;

    border-radius: 20px;
    -border-radius: 20px;
    -border-radius: 20px;

    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#items .item-wrapper .item .item-header {
    margin-bottom: 15px;
}

#items .item-wrapper .item .item-header .item-title {

}

#items .item-wrapper .item .item-body {
    margin-bottom: 20px;
}

#items .item-wrapper .item .item-footer {

}

/* IMAGES */
#items .item-wrapper .item .item-images {
    margin-bottom: 20px;
}

#items .item-wrapper .item .item-images a:first-child {
    display: inline-block;
    position: relative;
}

#items .item-wrapper .item .item-images a:first-child:after {
    background: #ffffff;
    border-radius: 50%;
    border: 1px solid #333333;
    color: #000000;
    content: attr(data-total-images);
    height: 30px;
    line-height: 26px;
    position: absolute;
    right: 10px;
    text-align: center;
    text-decoration: none;
    top: 5px;
    width: 30px;
}

#items .item-wrapper .item .item-images a ~ a {
    display: none;
}

#items .item-wrapper .item .item-images img {
    max-width: 100%;
}

/* TAGS / SOCIAL */
#items .item-wrapper .item .item-tags ul,
#items .item-wrapper .item .item-social ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#items .item-wrapper .item .item-tags li,
#items .item-wrapper .item .item-social li {
    display: inline-block;
    margin-right: 15px;
}

#items .item-wrapper .item .item-tags li:right-child,
#items .item-wrapper .item .item-social li:right-child {
    margin-right: 0;
}

/* TAGS */
#items .item-wrapper .item .item-tags li {
    background-color: #6c757d;
    border: 1px solid #666666;
    color: #ffffff;
    cursor: default;
    line-height: 1;
    margin-bottom: 10px;
    padding: 5px 10px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;

    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

/* SOCIAL */
#items .item-wrapper .item .item-social li a:hover {
    position: relative;
    top: -10px;
}

#items .item-wrapper .item .item-social li img {
    height: 35px;
    width: 35px;
}